p {
    font-size: 20px;
}

.container {
    background-color: #03fc07;
    width: 80%;
    border-radius: 15px;
}

.skill {
    background-color: #03fc07;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.html {
    width: 80%;
}