.actions {
    padding: 50px;
}

p {
    /* color: red; */
}

/* body{
    background: hsl(218deg 50% 91%);
    background-color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  */

progress {
    border-radius: 7px; 
    width: 45%;
    height: 22px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
  progress::-webkit-progress-bar {
    background-color: rgb(248, 245, 241);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(94, 206, 94);
    border-radius: 7px;
  }
